.vote_btn2 {
  font-size: 90px;
  border-radius: 6px;
  text-decoration-style: none;
  text-decoration: none;
  list-style-type: none;
  width: 400px;
  margin: auto auto;
  margin-top: 20%;
  background-image: linear-gradient(to bottom right, #7430c3, #3b7ddc, #3b7ddc);
  color: white;
  box-shadow: -10px 15px 15px rgba(0,0,0,0.3);
}

.back {
  position: absolute;
  top:25px;
  left: 1%;
  z-index: 5;
  color: black;
}

.form_container {
  margin-top: 10%;
  width: 20%;
  height: auto;
  margin-left: 40%;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.details {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.dt {
  border-bottom: 1px solid black;
  padding: 3px 0px;
}

.form-head {
  font-size: 30px;
}

.vf-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  order:2;
  background-color: green;
  width: 300px;
  font-size: 40px;
  color: white;
}